body {
    opacity: 0;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
    background: #1d1d26;
    color: #cecaad;
}

input[type='text'], input[type="submit"] {
    background-color:  #cecaad;
}

input[type='text']:focus {
    background-color: #cbc8bf;
}

select, select option{
    background-color: #cecaad;
    border-color: #cecaad;
}