{% extends 'base.html' %}

{% block title %}Basic Kinematics Calculations {% endblock %}
{% block body %}
    <div class="row ms-3 me-5 mt-3">
        <div class="col">
            <h1 class="mx-0 px-0">Basic Kinematics Calculations</h1>
        </div>
        <div class="col text-end">
            <a class="icon-link" href="{{ url_for('home') }}">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
                </svg>
                Return Home
            </a>
        </div>
    </div>
    <form method="POST" class="mx-5" action="/basic-kinematics">
        {{ form.csrf_token }}
        <h2>Parameters and Units</h2>
        <div class="row mb-3">
            <div class="col-sm-7 form-group">
                {{ form.initial_velocity.label }}
                {{ form.initial_velocity(class_='form-control', size=20) }}
                {% if form.initial_velocity.errors %}
                <ul class="errors">
                    {% for error in form.initial_velocity.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.velocity_units.label }}
                {{ form.velocity_units(class_='form-control', size=1) }}
                {% if form.velocity_units.errors %}
                <ul class="errors">
                    {% for error in form.velocity_units.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.final_velocity_units.label }}
                {{ form.final_velocity_units(class_='form-control', size=1) }}
                {% if form.final_velocity_units.errors %}
                <ul class="errors">
                    {% for error in form.final_velocity_units.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-7 form-group">
                {{ form.initial_height.label }}
                {{ form.initial_height(class_='form-control', size=20) }}
                {% if form.initial_height.errors %}
                <ul class="errors">
                    {% for error in form.initial_height.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.metric_or_imperial.label }}
                {{ form.metric_or_imperial(class_='form-control', size=1) }}
                {% if form.metric_or_imperial.errors %}
                <ul class="errors">
                    {% for error in form.metric_or_imperial.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-7 form-group">
                {{ form.final_surface_height.label }}
                {{ form.final_surface_height(class_='form-control', size=20) }}
                {% if form.final_surface_height.errors %}
                <ul class="errors">
                    {% for error in form.final_surface_height.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.final_metric_or_imperial.label }}
                {{ form.final_metric_or_imperial(class_='form-control', size=1) }}
                {% if form.final_metric_or_imperial.errors %}
                <ul class="errors">
                    {% for error in form.final_metric_or_imperial.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-7 form-group">
                {{ form.launch_angle.label }}
                {{ form.launch_angle(class_='form-control', size=20) }}
                {% if form.launch_angle.errors %}
                <ul class="errors">
                    {% for error in form.launch_angle.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.rad_or_deg.label }}
                {{ form.rad_or_deg(class_='form-control', size=1) }}
                {% if form.rad_or_deg.errors %}
                <ul class="errors">
                    {% for error in form.rad_or_deg.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="col-sm form-group">
                {{ form.final_rad_or_deg.label }}
                {{ form.final_rad_or_deg(class_='form-control', size=1) }}
                {% if form.final_rad_or_deg.errors %}
                <ul class="errors">
                    {% for error in form.final_rad_or_deg.errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
        </div>
        <div>
            {{ form.submit(class_='form-control') }}
        </div>
    </form>
    <div id="solutions" class="mx-5 row mb-3">
        <div class="col">
            <div class="row">
                {% if form.initial_velocity.data %}
                <h2>Data Input:</h2>
                    Initial velocity: {{ v_o }} {{ final_vel_units }}, or {{ form.initial_velocity.data }} {{ form.velocity_units.data }}<br />
                    Initial height: {{ y_o }} {{ final_dist_units }}, or {{ form.initial_height.data }} {{ form.metric_or_imperial.data }}<br />
                    Final height: {{ final_height }} {{ final_dist_units }}, or {{ form.final_surface_height.data }} {{ form.metric_or_imperial.data }}<br />
                    Launch angle: {{ launch_angle }} {{ final_deg_units }}, or {{ form.launch_angle.data }} {{ form.rad_or_deg.data }}<br />
                {% endif %}
                {% if valid_final_height == false %}
                    Entered final height was higher than the peak point, and thus a projectile would
                    never reach it. As such, we completed the calculation with a final height of zero
                {% endif %}
            </div>
            <div class="row">
                {% if v_ox %}
                <h2>Results:</h2>
                Initial X Velocity: {{ v_ox }} {{ final_vel_units }} <br />
                Initial Y Velocity: {{ v_oy }} {{ final_vel_units }} <br />
                Time to Peak of Motion: {{ peak_time }} {{ time_units }}<br />
                Height at Peak of Motion: {{ peak_height }} {{ final_dist_units }} <br />
                Distance traveled at Peak of Motion: {{ peak_distance }} {{ final_dist_units }}<br />
                Total Time of Travel: {{ total_time }} {{ time_units }} <br />
                Final Horizontal Distance Traveled {{ final_dist }} {{ final_dist_units }} <br />
                {% endif %}
            </div>
        </div>
        <div class="col">
            <div style="height: 100%; width: 100%;">
                <canvas id="chart"></canvas>
            </div>
        </div>
    </div>
    <script>
        {% if coords %}
        const data = {
            datasets: [{
                label: 'Distance Traveled',
                backgroundColor: 'rgb(255, 99, 132)',
                borderColor: 'rgb(255, 99, 132)',
                data: {{ coords | tojson }}
            }]
        }

        const config = {
            type: 'scatter',
            data: data,
            options: {
                scales: {
                    x: {
                        type: 'linear',
                        position: 'bottom'
                    }
                },
                line: {
                    showLine: true
                }
            }
        };

        const chart = new Chart(document.getElementById('chart'), config);
        {% endif %}
        {% if scroll %}
            document.getElementById('{{ scroll }}').scrollIntoView();
        {% endif %}
    </script>
{% endblock %}